<h2>Allgemeine Geschäftsbedingungen der Firma Pizza & Pasta</h2>

<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</p>
(1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Lieferungen zwischen uns und einem Verbraucher
in ihrer zum Zeitpunkt der Bestellung gültigen Fassung.<br/>
<br/>
Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder
ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (§ 13 BGB).
<br/>

<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§2 Zustandekommen eines Vertrages, Speicherung des
  Vertragstextes</p>
(1) Die folgenden Regelungen über den Vertragsabschluss gelten für Bestellungen über unseren Internetshop http://www.beispielshop-online.de .
<br/>
<br/>
<b>(2) Im Falle des Vertragsschlusses kommt der Vertrag mit<br/>

  <div style="font-weight: bold; margin-left: 20px;">
    <br/>
    Pizza & Pasta<br/>
    Fürstenallee 5<br/>
    33102 Paderborn<br/>
    <br/>
  </div>
  zustande.<br/></b>
<br/>
(3) Die Präsentation der Waren in unserem Internetshop stellen kein rechtlich bindendes Vertragsangebot unsererseits dar,
sondern sind nur eine unverbindliche Aufforderungen an den Verbraucher, Waren zu bestellen. Mit der Bestellung der gewünschten Ware gibt der Verbraucher ein für
ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.<br/>
(4) Bei Eingang einer Bestellung in unserem Internetshop gelten folgende Regelungen:
Der Verbraucher gibt ein bindendes Vertragsangebot ab, indem er die in unserem Internetshop vorgesehene Bestellprozedur erfolgreich durchläuft.
<br/>
<br/>
Die Bestellung erfolgt in folgenden Schritten:<br/>
<br/>
<div class="ml20">

  1) Auswahl der gewünschten Ware<br/>

  2) Bestätigen durch Anklicken der Buttons „Bestellen“ <br/>

  3) Prüfung der Angaben im Warenkorb<br/>

  4) Betätigung des Buttons „zur Kasse“ <br/>

  5) Anmeldung im Internetshop nach Registrierung und Eingabe der Anmelderangaben (E-Mail-Adresse und Passwort). <br/>

  6) Nochmalige Prüfung bzw. Berichtigung der jeweiligen eingegebenen Daten.<br/>

  7) Verbindliche Absendung der Bestellung durch Anklicken des Buttons „kostenpflichtig bestellen“ bzw. „kaufen“<br/>

  <br/>
</div>
Der Verbraucher kann vor dem verbindlichen Absenden der Bestellung durch Betätigen der in dem von ihm verwendeten Internet-Browser enthaltenen „Zurück“-Taste nach
Kontrolle seiner Angaben wieder zu der Internetseite gelangen, auf der die Angaben des Kunden erfasst werden und Eingabefehler berichtigen bzw. durch Schließen des
Internetbrowsers den Bestellvorgang abbrechen.
Wir bestätigen den Eingang der Bestellung unmittelbar durch eine automatisch generierte E-Mail („Auftragsbestätigung“). Mit dieser nehmen wir Ihr Angebot an.
<br/>
<br/>
(5) Speicherung des Vertragstextes bei Bestellungen über unseren Internetshop : Wir speichern den Vertragstext und senden Ihnen die Bestelldaten und unsere AGB per
E-Mail zu.
Ihre vergangenen Bestellungen können Sie in unserem Kunden-Bereich unter Mein Konto --> Meine Bestellungen einsehen.
<br/>
<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§3 Preise, Versandkosten, Zahlung, Fälligkeit</p>
(1) Die angegebenen Preise enthalten die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu kommen etwaige Versandkosten.
<br/>
<br/>
(2) Der Verbraucher hat die Möglichkeit der Zahlung per
Vorkasse, Nachnahme, PayPal.<br/>
<br/>

(3) Hat der Verbraucher die Zahlung per Vorkasse gewählt, so verpflichtet er sich, den Kaufpreis unverzüglich nach Vertragsschluss zu zahlen.
<br/>
Soweit wir per Nachnahme liefern, tritt die Fälligkeit der Kaufpreisforderung mit Erhalt der Ware ein.
<br/>

<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§4 Lieferung</p>
(1) Sofern wir dies in der Produktbeschreibung nicht deutlich anders angegeben haben, sind alle von uns angebotenen Artikel sofort versandfertig.
Die Lieferung erfolgt hier spätesten innerhalb von 1 Werktagen.
Dabei beginnt die Frist für die Lieferung im Falle der Zahlung per Vorkasse am Tag nach
Zahlungsauftrag an die mit der Überweisung beauftragte Bank und bei allen anderen Zahlungsarten am Tag nach Vertragsschluss zu laufen.
Fällt das Fristende auf einen Samstag, Sonntag oder gesetzlichen Feiertag am Lieferort, so endet die Frist am nächsten Werktag.
<br/><br/>

(2) Die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der
verkauften Sache geht auch beim Versendungskauf erst mit der Übergabe der Sache an den Käufer auf diesen über.  <br/>


<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§5 Eigentumsvorbehalt</p>
Wir behalten uns das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor.
<br/>
<br/>
<p style="font-weight: bold; padding-bottom: 10px;">§6 Mängelhaftung</p>

Pizza & Pasta übernimmt keine Beschaffenheitsgarantie oder sonstige Garantien.
<br/>
<br/>
Der Kunde wird die Ware bei Übergabe auf äußere Beschädigungen und offensichtliche Fehler überprüfen und gegebenenfalls sofort reklamieren.
<br/>
Sollten während des Transportes Schäden und/oder Verluste auftreten, wird der Fahrer den Kunden direkt und unverzüglich unter gleichzeitiger Mitteilung an Pizza & Pasta informieren.
<br/>
<br/>
Ist die gelieferte Ware mangelhaft, kann der Kunde Nacherfüllung durch Er­satz­lie­fe­rung verlangen. Schlägt die Nacherfüllung fehl, kann der Kunde bei einem nicht un­er­heb­li­chen Mangel vom Kaufvertrag zurücktreten, den Kauf­preis mindern oder Scha­dens­er­satz geltend machen.
<br/>
<br/>
Weitergehende Ansprüche des Kunden - gleich aus welchen Rechtsgründen - sind aus­geschlossen, soweit sich nachstehend nichts anderes ergibt.
<br/>
<br/>
Pizza & Pasta haftet nicht für Schäden, die nicht am Liefergegenstand selbst ent­standen sind; insbesondere ist eine Haftung von Pizza & Pasta für entgangenen Ge­winn oder für sonstige Vermögensschäden des Kunden ausgeschlossen.
<br/>
<br/>
Soweit die Haftung von Pizza & Pasta ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Arbeitnehmern, Vertretern und Er­fül­lungs­ge­hil­fen von Pizza & Pasta.
<br/>
<br/>
Vorstehende (Ziff. 4-6) Haftungsbeschränkungen gelten nicht, soweit die Schadensur­sache auf Vorsatz oder grober Fahrlässigkeit beruht oder ein Personenschaden (Ver­letzung von Leben, Körper, Gesundheit) vorliegt. Die Haftungsbeschränkung gilt auch dann nicht, wenn der Besteller Ansprüche aus den §§ 1 und 4 Produkthaftungsgesetz be­sitzt.
<br/>
<br/>
Verletzt Pizza & Pasta eine vertragswesentliche Pflicht fahrlässig, ist die Ersatz­pflicht von Pizza & Pasta Pizza auf den typischerweise bei Geschäften der fraglichen Art entstehenden Scha­den beschränkt. Wesentliche Vertragspflichten sind solche, de­ren Erfüllung die ord­nungs­gemäße Durchführung des Vertrages überhaupt erst er­mög­licht und auf deren Einhaltung der Vertragspartner regelmäßig vertraut
und vertrauen darf oder die Pizza & Pasta Pizza dem Ver­trags­partner nach dem Vertragsinhalt ge­ra­de zu gewähren hat.
<br/>
<br/>
<p>Verfasser: Pizza & Pasta<br/>
  (Stand: Juni 2020)</p>
