<div class="container">
<div *ngIf="isSubmitted && isSuccessful" class="alert alert-success">
  Kategorie erfolgreich erstellt!
</div>

<form (ngSubmit)="onSubmit()" *ngIf="!isSuccessful" [formGroup]="newCategoryForm">
  <div class="card">
    <h5 class="card-header">Kategorie anlegen</h5>

    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" type="text">

        <div *ngIf="isSubmitted && categoryForm.name.errors" class="alert alert-danger">
          <div *ngIf="categoryForm.name.errors.required">Name is required</div>
          <div *ngIf="categoryForm.name.errors.minlength">Categoryname must be at least 3 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="active">Aktiv</label>
        <select class="form-control" formControlName="active" id="active">
          <option value="true">Aktiv</option>
          <option value="false">Inaktiv</option>
        </select>
      </div>

      <br/>
      <div class="form-group">
        <div style="margin: 5px 0px; float: left;">
          <button class="btn btn-success" type="submit">Kategorie Anlegen</button>
        </div>
        <div style="margin: 5px 5px 20px; float: left;">
          <button (click)="onCancel()" class="btn btn-danger" type="reset">Bearbeitung Abbrechen</button>
        </div>
      </div>
    </div>

  </div>
  <br/><br/>
</form>
</div>
