<!-- mobile navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-lg-none">
  <!-- show logo as brand -->
  <a class="navbar-brand" href="#">
    <img src="./assets/img/logo_smallborder.png" width="60" alt="Pizza und Pasta">
  </a>
  <!-- toggle button to expand menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#respHeaderBar"
          aria-controls="respHeaderBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- mobile navbar -->
  <div class="collapse navbar-collapse " id="respHeaderBar">
    <div class="navbar-nav d-lg-none">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/category-overview">Kategorien</a>
      <a class="nav-item nav-link" href="/login" *ngIf="!loggedIn">Login</a>

      <!-- user menu - show only when user is logged in -->
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false" *ngIf="loggedIn">{{getUsername()}}</a>
        <div class="dropdown-menu" id="userDropdown">
          <a class="dropdown-item" routerLink="/user/details">Konto</a>
          <a class="dropdown-item" routerLink="/user/orders">Bestellungen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/" (click)="onLogout()">Ausloggen</a>
        </div>
      </li>

      <!-- cart in mobile nav -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Warenkorb</a>

        <div class="dropdown-menu">
          <app-cart></app-cart>
        </div>
      </li>

      <!-- admin menu - show only when current user is an admin -->
      <li class="nav-item dropdown" *ngIf="accountService.isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false"  *ngIf="accountService.isAdmin()">Admin</a>
        <div class="dropdown-menu" id="adminDropdown">
          <a class="dropdown-item" routerLink="admin/config">Konfiguration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="admin/orders">Bestellungen</a>
          <a class="dropdown-item" routerLink="admin/closing">Tagesabschluss</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="admin/new-dish">Artikel anlegen</a>
          <a class="dropdown-item" routerLink="admin/edit-dish">Artikel bearbeiten</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="admin/new-category">Kategorie anlegen</a>
        </div>
      </li>

    </div>
  </div>
</nav>

<!-- navbar for full desktop-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top hidden-xs">
  <div class="collapse navbar-collapse justify-content-md-center" id="defaultHeaderBar">
    <ul class="navbar-nav">

      <!-- home -->
      <li class="nav-item active py-2 d-none d-md-inline-block">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <!-- categories -->
      <li class="nav-item pl-3 py-2 d-none d-md-inline-block">
        <a class="nav-link" routerLink="/category-overview">Kategorien</a>
      </li>

      <!-- show logo in header -->
      <li class="nav-item px-5">
        <a href="#">
          <img id="logo-navbar-middle" src="./assets/img/logo_smallborder.png"
               width="60" alt="Pizza und Pasta">
        </a>
      </li>

      <!-- login menu - show only when user is not logged in -->
      <li class="nav-item py-2 d-none d-md-inline-block" ngbDropdown *ngIf="!loggedIn">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="DropdownLogin" role="button">
          Login
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownLogin" class="dropdown-menu">
          <app-login-form></app-login-form>
        </div>
      </li>

      <!-- user menu - show only when user is logged in -->
      <li class="nav-item py-2 d-none d-md-inline-block" ngbDropdown *ngIf="loggedIn">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="DropdownUser" role="button" *ngIf="loggedIn">
          {{getUsername()}}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownLogin" class="dropdown-menu" *ngIf="loggedIn">
          <button ngbDropdownItem routerLink="/user/details">Konto</button>
          <button ngbDropdownItem routerLink="/user/orders">Bestellungen</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem routerLink="/" (click)="onLogout()">Ausloggen</button>
        </div>
      </li>

      <!-- cart -->
      <li class="nav-item py-2 d-none d-md-inline-block" ngbDropdown>
        <a class="nav-link" id="DropdownCart" ngbDropdownToggle role="button" style="cursor: pointer">
          Warenkorb
        </a>
        <div aria-labelledby="navbarDropdownCart" class="dropdown-menu" ngbDropdownMenu>
          <app-cart></app-cart>
        </div>
      </li>

      <!-- admin -->
      <li class="nav-item py-2 d-none d-md-inline-block" ngbDropdown>
        <a *ngIf="accountService.isAdmin()" class="nav-link" id="DropdownAdmin" ngbDropdownToggle role="button"
           style="cursor: pointer">
          Admin
        </a>
        <div aria-labelledby="navbarDropdownAdmin" class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item disabled" href="#">Adminbereich</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="admin/config">Konfiguration</a>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem routerLink="admin/orders">Bestellungen</button>
          <button ngbDropdownItem routerLink="admin/closing">Tagesabschluss</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem routerLink="admin/new-dish">Artikel anlegen</button>
          <button ngbDropdownItem routerLink="admin/edit-dish">Artikel bearbeiten</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem routerLink="admin/new-category">Kategorie anlegen</button>
        </div>
      </li>

    </ul>
  </div>
</nav>
