<h2>Über uns</h2>

<br/>
<p style="font-weight: bold; padding-bottom: 3px;">Das junge und ambitionierte Team von Pizza & Pasta heißt euch herzlich willkommen - Benvenuti!<p>

<p>Wir haben es uns zur Aufgabe gemacht den Genießern und Liebhabern der italienischen Küche mit unseren ausgezeichneten Gerichten ein Lächeln auf die Lippen zu zaubern. Dabei liegt die Qualität unserer Speisen ganz besonders am Herzen. Aus diesem Grund beziehen wir möglichst viele unserer Produkte aus der eigenen Region, um euch frische Spezialitäten anbieten zu können.

<p>Das Team Pizza & Pasta freut sich auf euch:<p>

<p style="font-weight: bold; padding-bottom: 3px;">Jonas Mertens</p>
<p><img src="./assets/img/aboutus-jonas.jpeg" alt="..." class="img-fluid rounded border border-secondary w-25"></p>
<p>”Bereits im jungen Alter habe ich begonnen die Rezepte meiner Oma zu verfeinern und meine ganz eignen Pizzakreationen
    zu erstellen, sodass meine Pizzen heute nach besonderen Rezepten hergestellt werden.”</p>

<br/>
<p style="font-weight: bold; padding-bottom: 3px;">René Schiffner</p>
<p>”Pasta ist meine Spezialität. Ob Spaghetti Carbonara oder Tortellini al Forno, meine Gerichte sind jedes Mal aufs Neue eine unvergessliche Speise.”</p>

<br/>
<p style="font-weight: bold; padding-bottom: 3px;">Johanna Stork</p>
<p><img src="./assets/img/aboutus-johanna.jpeg" alt="..." class="img-fluid rounded border border-secondary w-25"></p>
<p>”Unsere Salate sind insbesondere durch die frischen Zutaten einzigartig. Deshalb ist es mir eine Freude diese Leckereien für euch zu erstellen.”</p>

<br/>
<p style="font-weight: bold; padding-bottom: 3px;">Marleen Wieners</p>
<p><img src="./assets/img/aboutus-marleen.jpeg" alt="..." class="img-fluid rounded border border-secondary w-25"></p>
<p>”Die italienische Kultur begeistert mich und insbesondere die Küche. Somit ist es mir eine Freude Teil dieses Teams
  zu sein und meine Kollegen bei ihren Kreationen zu unterstützen.”</p>
<br/>
