<h2>Registrierung</h2>
<div class="alert alert-success" *ngIf="isSubmitted && isSuccessful">
  Registrierung erfolgreich!
</div>

<form *ngIf="!isSuccessful" (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
  <div class="form-group">
    <div class="alert alert-danger" *ngIf="isSubmitted && isSignUpFailed">
      Registrierung abgebrochen!<br/>{{ errorMessage }}
    </div>
  </div>

  <div class="form-group">
    <label for="username">Benutzername</label>
    <input type="text" class="form-control" id="username" formControlName="username">
    <div *ngIf="isSubmitted && regForm.username.errors" class="alert alert-danger">
      <div *ngIf="regForm.username.errors.required">Username is required</div>
      <div *ngIf="regForm.username.errors.minlength">Username must be at least 3 characters</div>
      <div *ngIf="regForm.username.errors.maxlength">Username max. 20 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Passwort</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="isSubmitted && regForm.password.errors" class="alert alert-danger">
      <div *ngIf="regForm.password.errors.required">Password is required</div>
      <div *ngIf="regForm.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirm_password">Passwort bestätigen</label>
    <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
    <div *ngIf="isSubmitted && regForm.confirm_password.errors" class="alert alert-danger">
      <div *ngIf="regForm.confirm_password.errors.required">Password is required</div>
      <div *ngIf="regForm.confirm_password.errors.mustMatch">Passwords must match</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-Mail Adresse</label>
    <input type="text" class="form-control" id="email" formControlName="email">
    <div *ngIf="isSubmitted && regForm.email.errors" class="alert alert-danger">
      <div *ngIf="regForm.email.errors.required">Email is required</div>
      <div *ngIf="regForm.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>

  <div class="form-group">
    <label for="forename">Vorname</label>
    <input type="text" class="form-control" id="forename" formControlName="forename">
    <div *ngIf="isSubmitted && regForm.forename.errors" class="alert alert-danger">
      <div *ngIf="regForm.forename.errors.required">Forename is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="surname">Nachname</label>
    <input type="text" class="form-control" id="surname" formControlName="surname">
    <div *ngIf="isSubmitted && regForm.surname.errors" class="alert alert-danger">
      <div *ngIf="regForm.surname.errors.required">Surname is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="street">Straße</label>
    <input type="text" class="form-control" id="street" formControlName="street">
    <div *ngIf="isSubmitted && regForm.street.errors" class="alert alert-danger">
      <div *ngIf="regForm.street.errors.required">Street is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="housenumber">Hausnummer</label>
    <input type="text" class="form-control" id="housenumber" formControlName="housenumber">
    <div *ngIf="isSubmitted && regForm.housenumber.errors" class="alert alert-danger">
      <div *ngIf="regForm.housenumber.errors.required">Housenumber is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="postcode">Postleitzahl</label>
    <input type="text" class="form-control" id="postcode" formControlName="postcode">
    <div *ngIf="isSubmitted && regForm.postcode.errors" class="alert alert-danger">
      <div *ngIf="regForm.postcode.errors.required">Postcode is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="city">Stadt</label>
    <input type="text" class="form-control" id="city" formControlName="city">
    <div *ngIf="isSubmitted && regForm.city.errors" class="alert alert-danger">
      <div *ngIf="regForm.city.errors.required">City is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Telefonnummer</label>
    <input type="text" class="form-control" id="phone" formControlName="phone">
    <div *ngIf="isSubmitted && regForm.phone.errors" class="alert alert-danger">
      <div *ngIf="regForm.phone.errors.required">Phonenumber is required</div>
    </div>
  </div>

  <div class="form-group">
    <div style="margin: 5px 0px; float: left;">
      <button type="submit" class="btn btn-success">Registrieren</button>
    </div>
    <div style="margin: 5px 5px 20px; float: left;">
      <button type="reset" (click)="onCancel()" class="btn btn-danger">Abbrechen</button>
    </div>
  </div>
  <br/><br/>
</form>

