<div class="container">
  <div *ngIf="isSuccessful" class="alert alert-success">
    Konfiguration erfolgreich bearbeitet
  </div>

  <div *ngIf="!isSuccessful" class="card-deck">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">
        Shop Konfiguration
      </h5>

      <div class="card-body">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" *ngFor="let config of configs" id="list-home-list" data-toggle="list"
             role="tab" (click)="selectConfig(config)">{{config.configDesc}}</a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-success disabled mt-2">Konfiguration hinzufügen</button>
      </div>

    </div>
  </div>

  <br/>
  <div *ngIf="!isSuccessful" class="card-deck">
    <form class="card" style="width: 18rem;">
      <h5 class="card-header">
        Konfiguration bearbeiten
      </h5>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="editConfigForm">

          <div class="form-group">
            <label for="name">Name (Schlüssel)</label>
            <input [value]="selectedConfig.configName" class="form-control" formControlName="name" id="name" type="text">

            <!--<div *ngIf="isSubmitted && dishForm.name.errors" class="alert alert-danger">
              <div *ngIf="dishForm.name.errors.required">Name is required</div>
              <div *ngIf="dishForm.name.errors.minlength">Dishname must be at least 3 characters</div>
            </div>
            -->
          </div>

          <div class="form-group">
            <label for="desc">Beschreibung</label>
            <input [value]="selectedConfig.configDesc" class="form-control" formControlName="desc" id="desc" type="text">

            <!--<div *ngIf="isSubmitted && dishForm.name.errors" class="alert alert-danger">
              <div *ngIf="dishForm.name.errors.required">Name is required</div>
              <div *ngIf="dishForm.name.errors.minlength">Dishname must be at least 3 characters</div>
            </div>-->
          </div>

          <div class="form-group">
            <label for="val">Wert</label>
            <input [value]="selectedConfig.configValue" class="form-control" formControlName="val" id="val"
                   type="text">
          </div>

          <div class="form-group">
            <label for="active">Aktiv</label>
            <select class="form-control" formControlName="active" id="active">
              <option value="true">Aktiv</option>
              <option value="false">Inaktiv</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-success mt-2" (click)="onSubmit()">Speichern</button>
          </div>
        </form>
      </div>
    </form>
  </div>

<br/><br/>
</div>
