<div *ngIf="isSubmitted && isSuccessful" class="alert alert-success">
  Artikel erfolgreich erstellt!
</div>

<form [formGroup]="newSizeForm">


  <div class="form-group">
    <label for="name">Name der Größe</label>
    <input [(ngModel)]="size.size" class="form-control" formControlName="name" id="name" type="text">
    <div *ngIf="sizeForm.name.errors" class="alert alert-danger">
      <div *ngIf="sizeForm.name.errors.required">Name is required</div>
      <div *ngIf="sizeForm.name.errors.minlength">Sizename must be at least 1 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Preis</label>
    <input [(ngModel)]="size.price" class="form-control" formControlName="price" id="price" type="text">
    <div *ngIf="sizeForm.price.errors" class="alert alert-danger">
      <div *ngIf="sizeForm.price.errors.min">Price has to be more than 0,10€</div>
    </div>
  </div>


  <br/><br/>
</form>

