<div class="container">
<div *ngIf="isSubmitted && isSuccessful" class="alert alert-success">
  Artikel erfolgreich erstellt!
</div>

<form (ngSubmit)="onSubmit()" *ngIf="!isSuccessful" [formGroup]="newDishForm">
  <div class="card">
    <h5 class="card-header">Artikel anlegen</h5>
    <div class="card-body">
      <div class="form-group">
        <label for="category">Kategorie</label>
        <select class="form-control" formControlName="category" id="category">
          <option *ngFor="let category of categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
        </select>
        <div *ngIf="isSubmitted && dishForm.category.errors" class="alert alert-danger">
          <div *ngIf="dishForm.name.errors.required">Category is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" type="text">

        <div *ngIf="isSubmitted && dishForm.name.errors" class="alert alert-danger">
          <div *ngIf="dishForm.name.errors.required">Name is required</div>
          <div *ngIf="dishForm.name.errors.minlength">Dishname must be at least 3 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="toppings">Toppings</label>
        <input class="form-control" formControlName="toppings" id="toppings" type="text">
      </div>

      <div class="form-group mr-sm-2">
        <label for="active">Aktiv</label>
        <select class="form-control mr-sm-2" formControlName="active" id="active">
          <option value="true">Aktiv</option>
          <option value="false">Inaktiv</option>
        </select>
      </div>

      <div class="form-group">
        <label for="image">Bild</label>
        <app-image-upload (imageSelectedEvent)="onImageSelect($event)" formControlName="image"
                          id="image"></app-image-upload>
      </div>

      <div class="form-group">
        <h3>Größen</h3>
        <ngb-accordion *ngIf="sizes.length > 0" closeOthers="true">
          <ngb-panel *ngFor="let selectedSize of sizes">
            <ng-template ngbPanelTitle>
              <b>{{selectedSize.size}} : {{selectedSize.price | currency:'EUR': ''}}€</b>
            </ng-template>

            <ng-template ngbPanelContent>
              <app-new-size (sizeChanged)="sizeChanged(selectedSize, $event)" [size]="selectedSize"></app-new-size>
              <div style="margin: 5px 5px 5px; float: left;">
                <button (click)="onCancelSize(selectedSize)" class="btn btn-danger">Größe Löschen</button>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <div style="margin: 5px 0px; float: left;">
          <button (click)="addSize()" class="btn btn-dark" type="button">Größe Hinzufügen</button>
        </div>
      </div>

      <br/><br/>
      <div class="form-group">
        <div style="margin: 5px 0px; float: left;">
          <button class="btn btn-success" type="submit">Artikel Anlegen</button>
        </div>
        <div style="margin: 5px 5px 20px; float: left;">
          <button (click)="onCancel()" class="btn btn-danger" type="reset">Bearbeitung Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</form>
</div>
