<br *ngIf="image">
<img class="img-thumbnail" *ngIf="image" [src]="image" alt="Selected Image" style="max-width:20%; max-height:20%">
<br/><br/>
<div class="form-group">
  <input (change)="handleFileInput($event.target.files)"
         id="file"
         type="file">
</div>

