<h2 mat-dialog-title>Neue Adresse hinzufügen</h2>
<mat-dialog-content [formGroup]="newAddressForm">

  <mat-form-field>
    <input formControlName="forename" matInput placeholder="Vorname" type="text">
    <mat-error></mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="surname" matInput placeholder="Nachname" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="street" matInput placeholder="Straße" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="housenumber" matInput placeholder="Hausnummer" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="postcode" matInput placeholder="PLZ" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="city" matInput placeholder="Stadt" type="text">
  </mat-form-field>

</mat-dialog-content>

<div mat-dialog-actions>
  <div style="margin: 5px 0px; float: left;">
    <button (click)="onSubmit()" class="btn btn-success">OK</button>
    <button (click)="onCancel()" class="btn btn-danger">Abbrechen</button>
  </div>
</div>

