<div *ngIf="checkCartIsNotEmpty()==false">Der Warenkorb ist leer</div>
<table *ngIf="checkCartIsNotEmpty()==true" class="table-responsive text-nowrap">
  <tr *ngFor="let sizeMapItem of sizesInCartMap | keyvalue ">
    <td>{{dishForSize(sizeMapItem.key).dish}}</td>
    <td>{{sizeMapItem.key.size}}</td>
    <td><input (change)="setCartItem(sizeMapItem.key, $event)" style="width:40px" type="number"
               value="{{sizeMapItem.value}}"></td>
    <td>{{sizeMapItem.key.price * sizeMapItem.value | currency:'EUR': ''}} €</td>
    <td>
      <mat-icon (click)="deleteCartItem(sizeMapItem.key)" type="button">delete</mat-icon>
    </td>
  </tr>
</table>

<div *ngIf="sizesInCartMap.size!=0" class="dropdown-divider"></div>
<li *ngIf="sizesInCartMap.size!=0" ngbDropdownItem>
  {{sum | currency:'EUR': ''}} €
  <button class="btn btn-outline-success" routerLink="checkOut" type="button">
    Zur Kasse
  </button>
</li>
