<body class="d-flex flex-column h-100">
<!-- fixed navigation -->
<header>
  <app-header></app-header>
</header>

<!-- main page content -->
<main role="main" class="flex-shrink-0">
  <!-- main container style="padding-top: 100px; padding-bottom: 50px"-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- footer with disclaimer etc. footer mt-auto -->
<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerBar"
              aria-controls="footerBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="footerBar">
        <div class="navbar-nav">
          <!-- social media icons -->
          <a class="nav-item nav-link" href="http://www.instagram.com">
            <img src="./assets/img/icon_instagram.png" alt="instagram"
                 width="20" height="20" matTooltip="instagram">
          </a>
          <a class="nav-item nav-link" href="http://www.facebook.com">
            <img src="./assets/img/icon_facebook.png" alt="facebook"
                 width="20" height="20" matTooltip="facebook">
          </a>
          <a class="nav-item nav-link" href="/datenschutz">Datenschutzerklärung</a>
          <a class="nav-item nav-link" href="/impressum">Impressum</a>
          <a class="nav-item nav-link" href="/agb">AGB</a>
          <a class="nav-item nav-link disabled" href="#">Copyright by Pizza & Pasta</a>
        </div>
      </div>
    </nav>
</footer>
</body>



