<div class="container">
<div>
  <app-login-form *ngIf="!loggedIn"></app-login-form>
</div>

<div *ngIf="success" class="alert alert-success">
  Bestellung abgeschickt
</div>
<div *ngIf="loggedIn && ! success">
  <h2>Warenkorb</h2>
  <br/>
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Bestellübersicht
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <app-order-items-overview></app-order-items-overview>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>

  <!-- show addresses (shipping and invoice) -->
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Rechnungsadresse
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{this.invoiceAddress.forename}} {{this.invoiceAddress.surname}} <br/>
            {{this.invoiceAddress.street}} {{this.invoiceAddress.housenumber}} <br/>
            {{this.invoiceAddress.postcode}} {{this.invoiceAddress.city}}<br/><br/>
            <button (click)="newInvoiceAddress()" class="btn-dark btn">Rechnungsadresse ändern</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Lieferadresse
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{this.shippingAddress.forename}} {{this.shippingAddress.surname}} <br/>
            {{this.shippingAddress.street}} {{this.shippingAddress.housenumber}} <br/>
            {{this.shippingAddress.postcode}} {{this.shippingAddress.city}}<br/><br/>
            <button (click)="newShippingAddress()" class="btn-dark btn">An andere Adresse liefern</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br/>

  <!-- delivery option -->
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Lieferoption
      </div>
      <div class="card-body">
        <mat-radio-group [(ngModel)]="deliverOption" aria-label="Zahlungsmittel auswählen">
          <mat-radio-button [checked]="true" value="1">Lieferung</mat-radio-button>
          <mat-radio-button style="margin-left: 16px;" value="2">Abholung</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Zahlungsmittel
      </div>
      <div class="card-body">
        <mat-radio-group [(ngModel)]="paymentMethod" aria-label="Zahlungsmittel auswählen">
          <mat-radio-button value="1">Rechnung</mat-radio-button>
          <mat-radio-button *ngIf="deliverOption==1" value="2" style="margin-left: 16px;">Bar bei Lieferung</mat-radio-button>
          <mat-radio-button *ngIf="deliverOption==2" value="3" style="margin-left: 16px;">Bar bei Abholung</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-top: 15px;">
    <div class="card-header">
      Bestellung abschließen
    </div>
    <div class="card-body">
    <button (click)="processOrder()" class="btn btn-success" type="button">
      Jetzt kostenpflichtig bestellen
    </button>
    </div>
  </div>
</div>
  <br/>
</div>
