<div class="container">
<h2>Kategorien</h2>
<br/>
<ngb-accordion #acc="ngbAccordion" [activeIds]="activeCategory" closeOthers="true">
  <ngb-panel *ngFor="let category of categories" id="panel-{{category.categoryName}}">
    <!-- show image for category -->
    <!-- show categories -->
    <ng-template ngbPanelHeader>
      <!--<div class="d-flex justify-content-between" style="height: 200px">
        <img src="https://cdn.pixabay.com/photo/2016/04/21/22/50/pizza-1344720_960_720.jpg" class="img-fluid rounded" alt="Responsive image">
      </div>-->
      <div class="d-flex align-items-center justify-content-between">
        <b>{{category.categoryName}}</b>
        <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Anzeigen</button>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <!-- filter dishes for category with function -->
      <div class="card-deck">
        <div class="card" *ngFor="let dish of getDishesForCategory(category.categoryId);"
             style="margin-bottom: 10px;">

          <img class="card-img-top" src="{{dish.picture}}" alt="Card image cap">
          <div class="card-header m-0">
            <h6 class="m-0">{{dish.dish}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text" [innerHTML]="dish.toppings"></p>
          </div>

          <!-- show sizes in footer of card -->
          <div class="card-footer text-muted d-flex align-items-center justify-content-between">
            <!-- function for ordering is not implemented yet -->
              <div class="btn-group flex-wrap btn-group-toggle" role="group" ngbRadioGroup name="radioSizes" [(ngModel)]="sizeVal">
                <label *ngFor="let size of dish.sizes" ngbButtonLabel class="btn btn-outline-secondary">
                  <input ngbButton type="radio" value="{{size.sizeId}}">
                  {{size.size}} : {{size.price | currency:'EUR': ''}} €
                </label>
              </div>
          </div>

          <!-- cart -->
          <div class="card-footer text-muted d-flex align-items-center justify-content-between">
            <!-- add to cart -->
            <p class="card-text">
              <button (click)="addToCart(dish, sizeVal)" [disabled]="!sizeVal" class="btn btn-outline-success"
                      type="button">
                In den Warenkorb
              </button>
            </p>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>
  <br/><br/>
</div>
