<form class="px-4 py-3" (ngSubmit)="onSubmit()" *ngIf="!isSuccess" [formGroup]="loginForm">
  <div class="form-group">
    <div *ngIf="isSubmitted && isSignInFailed" class="alert alert-danger">
      Login fehlerhaft!<br/>{{ errorMessage }}
    </div>
  </div>
  <div class="form-group">
    <label for="username">Benutzername</label>
    <input class="form-control" formControlName="username" id="username" type="text" placeholder="Benutzername">
    <div *ngIf="isSubmitted && loginFormControls.username.errors" class="alert alert-danger">
      <div *ngIf="isSubmitted && loginFormControls.username.errors.required">Username is required</div>
    </div>


    <label for="password">Passwort</label>
    <input class="form-control" formControlName="password" id="password" type="password" placeholder="Passwort">
    <div *ngIf="isSubmitted && loginFormControls.password.errors" class="alert alert-danger">
      <div *ngIf="isSubmitted && loginFormControls.password.errors.required">Password is required</div>
    </div>
  </div>

  <button class="btn btn-success" type="submit">Login</button>

  <div class="dropdown-divider"></div>
  <button ngbDropdownItem routerLink="/register" routerLinkActive="disabled" (click)="onReset(); loginForm.reset()">Noch
    kein Konto?
  </button>
  <button ngbDropdownItem routerLink="" routerLinkActive="disabled">Passwort vergessen?</button>

  <div *ngIf="isSubmitted && isSuccess" class="alert alert-success">
    LogIn erfolgreich!
  </div>
</form>


