<div class="container" style="min-width: 21cm; max-width: 25cm; min-height: 29.7cm;">
  <button type="button" class="btn btn-sm btn-outline-success" (click)="exportAsPdf()">Download</button>
  <!-- invoice pdf container start-->
  <div #content id="content" style="min-width: 21cm; max-width: 21cm; min-height: 29.7cm; margin-top: 20px">
    <div class="row mt-2 ml-2">
      <div class="col-8">
        <!-- placeholder -->
        <h2>Rechnung</h2>
      </div>

      <!-- show logo -->
      <div class="col-4">
        <img src="./assets/img/logo_smallborder.png" class="w-50 rounded float-right" alt="..." style="margin-right: 10px;">
      </div>
    </div>


    <div class="row mt-5 ml-2">
      <!-- shop address -->
      <div class="col-6">
        <p>Pizza & Pasta - Fürstenallee 5 - 33102 Paderborn</p>
        <p>
          {{account.forename}} {{account.surname}}<br/>
          {{account.street}} {{account.housenumber}}<br/>
          {{account.postcode}} {{account.city}}
        </p>
      </div>

      <!-- informations customer and order -->
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            Bestelldatum  <br/>
            Rechnung Nr. <br/>
            Kunden Nr.
          </div>
          <div class="col-5 float-right text-right">
            {{convertDateTime(order)}}<br/>
            {{order.orderId}}<br/>
            {{order.accountId}}
          </div>
        </div>
      </div>
    </div>

    <!-- addresses -->
    <div class="card-deck mt-5 w-100 ml-1 mr-1">
      <div class="card">
        <div class="card-header">
          Rechnungsadresse
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{order.invoiceAddress.forename}} {{order.invoiceAddress.surname}} <br/>
            {{order.invoiceAddress.street}} {{order.invoiceAddress.housenumber}} <br/>
            {{order.invoiceAddress.postcode}} {{order.invoiceAddress.city}}
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          Lieferadresse
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{order.shippingAddress.forename}} {{order.shippingAddress.surname}} <br/>
            {{order.shippingAddress.street}} {{order.shippingAddress.housenumber}} <br/>
            {{order.shippingAddress.postcode}} {{order.shippingAddress.city}}
          </li>
        </ul>
      </div>
    </div>

    <!-- show articles of current order -->
    <table class="table table-hover mt-5 ml-1 mr-1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Artikel</th>
          <th scope="col">Größe</th>
          <th scope="col">Anzahl</th>
          <th scope="col">Preis</th>
          <th scope="col">Summe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordersize of order.order_sizes; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{getDishForOrderSize(ordersize.size.dishId)}}</td>
          <td>{{ordersize.size.size}}</td>
          <td>{{ordersize.amount}}</td>
          <td>{{ordersize.pricePerItem | currency: 'EUR': ''}} €</td>
          <td>{{ordersize.amount * ordersize.pricePerItem | currency:'EUR': ''}} €</td>
        </tr>
      </tbody>
    </table>

    <!-- show sum with mwst and others -->
    <div class="row mt-5 ml-2">
      <div class="col-7">
      </div>
      <div class="col-2 float-right border-top">
        Netto
      </div>
      <div class="col-2 float-right text-right border-top">
        {{getSumOfOrder(order) * (-order.mwst) + getSumOfOrder(order)| currency: 'EUR':''}} €
      </div>
    </div>

    <!-- mwst -->
    <div class="row ml-2">
      <div class="col-7">
      </div>
      <div class="col-2 float-right">
          MwSt {{order.mwst * 100}} %:
      </div>
      <div class="col-2 float-right text-right">
        {{getMwst(order) | currency: 'EUR': ''}} €
      </div>
    </div>

    <!-- brutto -->
    <div class="row mt-3 ml-2">
      <div class="col-7">
      </div>
      <div class="col-2 float-right border-top">
        Gesamtsumme:
      </div>
      <div class="col-2 float-right border-top text-right">
        {{getSumOfOrder(order) | currency: 'EUR': ''}} €
      </div>
    </div>

    <div class="row mt-5 ml-2">
      <div class="col-8">
        <b>Vielen Dank für Ihren Einkauf.</b>
      </div>
      <div class="col-4">

      </div>
    </div>
  <!-- invoice pdf container end -->
  </div>
  <br/>
</div>
