<div class="container">
  <h2>
    Bestellungen
  </h2>
  <p></p>
  <!-- show orders for current user -->
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let order of orders">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Bestellung #{{order.orderId}} vom {{convertDateTime(order)}}</h5>
          <div [innerHTML]=getState(order.stateId)></div>
          <div>
            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Anzeigen</button>
          </div>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>
        <!-- show invoic -->
        <div>
          <button type="button" class="btn btn-sm btn-outline-success" (click)="showInvoice(order.orderId)">Rechnung</button>
        </div>
        <br/>
        <!-- show addresses (shipping and invoice) -->
        <div class="card-deck">
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Rechnungsadresse
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{order.invoiceAddress.forename}} {{order.invoiceAddress.surname}} <br/>
                {{order.invoiceAddress.street}} {{order.invoiceAddress.housenumber}} <br/>
                {{order.invoiceAddress.postcode}} {{order.invoiceAddress.city}}
              </li>
            </ul>
          </div>

          <!-- informations -->
          <div *ngIf="order.deliveryOption==2" class="card" style="width: 18rem;">
            <div class="card-header">
              Informationen
            </div>
              <div [innerHTML]=getPaymentMethod(order.paymentMethod)></div>
          </div>

          <!-- shipping address -->
          <div *ngIf="order.deliveryOption==1" class="card" style="width: 18rem;">
            <div class="card-header">
              Lieferadresse
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{order.shippingAddress.forename}} {{order.shippingAddress.surname}} <br/>
                {{order.shippingAddress.street}} {{order.shippingAddress.housenumber}} <br/>
                {{order.shippingAddress.postcode}} {{order.shippingAddress.city}}
              </li>
              <div [innerHTML]=getPaymentMethod(order.paymentMethod)></div>
            </ul>
          </div>

        </div>
        <br/>

        <!-- show articles of current order -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Artikel</th>
              <th scope="col">Größe</th>
              <th scope="col">Anzahl</th>
              <th scope="col">Preis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order_size of order.order_sizes; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{getDishForOrderSize(order_size.size.dishId)}}</td>
              <td>{{order_size.size.size}}</td>
              <td>{{order_size.amount}}</td>
              <td>{{order_size.pricePerItem * order_size.amount | currency:'EUR': ''}} €</td>
            </tr>
          </tbody>
        </table>

        <div class="dropdown-divider"></div>
        <li ngbDropdownItem class="text-right">
          Netto: {{getSumOfOrder(order) * (-order.mwst) + getSumOfOrder(order) | currency:'EUR': ''}} €
        </li>
        <li ngbDropdownItem class="text-right">
          MwSt: {{getSumOfOrder(order) * order.mwst | currency:'EUR': ''}} €
        </li>
        <li ngbDropdownItem class="text-right">
          Gesamtsumme: {{getSumOfOrder(order)  | currency:'EUR': ''}} €
        </li>
        <br/>
        <div><button class="btn btn-sm btn-outline-success" (click)="orderAgain(order)">Nochmal bestellen</button></div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <br/><br/>
</div>
