<div class="container">
  <h2>Details</h2>

  <form *ngIf="!isSubmitted" (ngSubmit)="onSubmit()" [formGroup]="userDetailsForm">
    <div class="form-group">
      <div class="alert alert-danger" *ngIf="isSubmitted && isFailed">
        Benutzerdaten konnten nicht geändert werden<br/>{{ errorMessage }}
      </div>
    </div>

    <div class="form-group">
      <label for="username">Benutzername</label>
      <input type="text" class="form-control" id="username" formControlName="username" readonly>
    </div>

    <div class="form-group">
      <label for="password">Passwort</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="isSubmitted && userdetailsForm.password.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.password.errors.required">Passwort wird benötigt</div>
        <div *ngIf="userdetailsForm.password.errors.minlength">Passwort muss mind. 6 Zeichen lang sein</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-Mail Adresse</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div *ngIf="isSubmitted && userdetailsForm.email.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.email.errors.required">Email wird benötigt</div>
        <div *ngIf="userdetailsForm.email.errors.email">Es muss eine gültige E-Mail Adresse angegeben werden</div>
      </div>
    </div>

    <div class="form-group">
      <label for="forename">Vorname</label>
      <input type="text" class="form-control" id="forename" formControlName="forename">
      <div *ngIf="isSubmitted && userdetailsForm.forename.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.forename.errors.required">Vorname wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="surname">Nachname</label>
      <input type="text" class="form-control" id="surname" formControlName="surname">
      <div *ngIf="isSubmitted && userdetailsForm.surname.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.surname.errors.required">Nachname wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Straße</label>
      <input type="text" class="form-control" id="street" formControlName="street">
      <div *ngIf="isSubmitted && userdetailsForm.street.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.street.errors.required">Straße wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="housenumber">Hausnummer</label>
      <input type="text" class="form-control" id="housenumber" formControlName="housenumber">
      <div *ngIf="isSubmitted && userdetailsForm.housenumber.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.housenumber.errors.required">Haus-Nr. wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="postcode">Postleitzahl</label>
      <input type="text" class="form-control" id="postcode" formControlName="postcode">
      <div *ngIf="isSubmitted && userdetailsForm.postcode.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.postcode.errors.required">PLZ wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Stadt</label>
      <input type="text" class="form-control" id="city" formControlName="city">
      <div *ngIf="isSubmitted && userdetailsForm.city.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.city.errors.required">Stadt wird benötigt</div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Telefonnummer</label>
      <input type="text" class="form-control" id="phone" formControlName="phone">
      <div *ngIf="isSubmitted && userdetailsForm.phone.errors" class="alert alert-danger">
        <div *ngIf="userdetailsForm.phone.errors.required">Bitte Telefonnummer angeben</div>
      </div>
    </div>
    <div style="margin: 5px 0px; float: left;">
      <button type="submit" class="btn btn-success">Ändern</button>
    </div>
    <div style="margin: 5px 5px 20px; float: left;">
      <button type="reset" class="btn btn-danger" (click)="onReset()">Abbrechen</button>
    </div>
    <br/><br/>
  </form>

  <div class="alert alert-success" *ngIf="isSubmitted && isSuccessful">
    Benutzerdaten erfolgreich geändert!
  </div>

</div>

