<!-- Home component for start page -->
<div class="Jumbotron">
  <!-- show food images to enter store -->
  <div class="col-sm-10 mx-auto">
    <ngb-carousel *ngIf="sliderImages">
      <!-- pizza -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sliderImages[0]" class="img-fluid rounded" alt="pizza slide" routerLink="/category-overview/Pizza">
        </div>
        <div class="carousel-caption">
          <h3>Pizza</h3>
          <p>Nom Nom Nom</p>
        </div>
      </ng-template>
      <!-- pasta -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sliderImages[1]" class="img-fluid rounded" alt="pasta slide" routerLink="/category-overview/Pasta">
        </div>
        <div class="carousel-caption">
          <h3>Pasta</h3>
        </div>
      </ng-template>
      <!-- salad -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sliderImages[2]" class="img-fluid rounded" alt="salad slide" routerLink="/category-overview/Salad">
        </div>
        <div class="carousel-caption">
          <h3>Salate</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<!-- opening times -->
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h2>
      <svg class="bi bi-clock" width="32" height="32" viewBox="0 0 20 20" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
        <path fill-rule="evenodd"
              d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      Öffnungszeiten
    </h2>
    <p>Montags Ruhetag</p>

    <p>Dienstag bis Freitag 12 Uhr - 15 Uhr und 18 Uhr - 22 Uhr</p>

    <p>Samstag und Sonntag durchgehend 12 Uhr - 23 Uhr</p>
  </div>
</div>

<!-- about us -->
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h2>
      <svg class="bi bi-info-circle" width="32" height="32" viewBox="0 0 20 20" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path
          d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
        <circle cx="8" cy="4.5" r="1"/>
      </svg>
      Über uns
    </h2>
    <p>Das junge und ambitionierte Team von Pizza & Pasta heißt euch herzlich willkommen - Benvenuti!</p>

    <a class="btn btn-primary" routerLink="/about-us" role="button">Mehr</a>
  </div>
</div>

