<div class="container">
  <div *ngIf="isSuccessful" class="alert alert-success">
    Konfiguration erfolgreich bearbeitet
  </div>

  <div *ngIf="!isSuccessful" class="card-deck">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">
        Tagesabschluss
      </h5>

      <div class="card-body">
        <mat-form-field appearance="fill">
          <mat-label>Datum auswählen</mat-label>
          <input matInput [max]="maxDate" [matDatepicker]="picker" [value]="selectedDate"
                 (dateChange)="changeDate('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button type="button" class="btn btn-sm btn-outline-success ml-2" (click)="selectClosing()">Anzeigen</button>
      </div>

    </div>
  </div>

  <br/>
  <div *ngIf="isSelected" class="card-deck">
    <form class="card" style="width: 18rem;">
      <h5 class="card-header d-flex align-items-center justify-content-between">
        Abschluss Datum: {{displayDate}}
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteClosing()">Löschen</button>
      </h5>
      <div class="card-body">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Allgemein">
            <div class="card mt-3">
              <div class="card-body">
                <!-- count orders -->
                <mat-form-field class="example-full-width">
                  <mat-label>Anzahl Bestellungen</mat-label>
                  <input matInput disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width ml-2">
                  <mat-label>{{dailyClosing.orderCount}}</mat-label>
                  <input matInput disabled>
                </mat-form-field>
                <br/>

                <!-- count dishes -->
                <mat-form-field class="example-full-width">
                  <mat-label>Verkaufte Artikel</mat-label>
                  <input matInput disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width ml-2">
                  <mat-label>{{dailyClosing.dishCount}}</mat-label>
                  <input matInput disabled>
                </mat-form-field>
                <br/>

                <!-- earnings -->
                <mat-form-field class="example-full-width mt-2">
                  <mat-label>Umsatz</mat-label>
                  <input matInput disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width ml-2">
                  <mat-label>{{dailyClosing.earning | currency: 'EUR'}}</mat-label>
                  <input matInput disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width mt-2">
                  <mat-label>MwSt.</mat-label>
                  <input matInput disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width ml-2">
                  <mat-label>{{dailyClosing.earning * dailyClosing.mwst | currency: 'EUR'}}</mat-label>
                  <input matInput disabled>
                </mat-form-field>

              </div>
            </div>

          </mat-tab>
          <mat-tab label="Artikel">

            <!-- show articles of current closing -->
            <table class="table table-hover flex-fill mt-2">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Artikel</th>
                <th scope="col">Anzahl</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let soldDish of getSoldDishes(); index as i">
                <th scope="row">{{i + 1}}</th>
                <td>{{soldDish.dishName}}</td>
                <td>{{soldDish.amount}}</td>
              </tr>
              </tbody>
            </table>

          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </div>

</div>
