<!-- show selected dish -->
<div class="jumbotron" *ngIf="isLoaded">
  <div class="col-sm-8 mx-auto">
    <h2>{{ dish.dish }}</h2>
    <!-- use html tags in mysql database to render page -->
    <p [innerHTML]="dish.toppings"></p>
    <button type="button" class="btn btn-outline-success" [routerLink]="['/category-overview']">Zurück</button>
  </div>
</div>
