<div class="container">
  <div *ngIf="isSuccessful" class="alert alert-success">
    Artikel erfolgreich bearbeitet
  </div>

  <div *ngIf="!isSuccessful" class="card-deck">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">
        Artikel auswählen
      </h5>

      <div class="card-body">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" *ngFor="let dish of allDishes" id="list-home-list" data-toggle="list"
             role="tab" (click)="selectDish(dish)">{{dish.dish}}</a>
        </div>
      </div>

      <!-- old selection
      <mat-selection-list #dishes [multiple]="false">
        <mat-list-option (click)="selectDish(dish)" *ngFor="let dish of allDishes"
                         [value]="dish">{{dish.dish}}</mat-list-option>
      </mat-selection-list>
      -->
    </div>
  </div>
  <br/>

  <div *ngIf="!isSuccessful" class="card-deck">
    <form class="card" style="width: 18rem;">
      <h5 class="card-header">
        Artikel bearbeiten
      </h5>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="editDishForm">
          <div class="form-group">
            <label for="category">Kategorie</label>
            <select class="form-control" formControlName="category" id="category">
              <option *ngFor="let category of categories" [selected]=""
                      value="{{category.categoryId}}">{{category.categoryName}}</option>
            </select>
            <div *ngIf="isSubmitted && dishForm.category.errors" class="alert alert-danger">
              <div *ngIf="dishForm.name.errors.required">Category is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input [value]="selectedDish.dish" class="form-control" formControlName="name" id="name" type="text">

            <div *ngIf="isSubmitted && dishForm.name.errors" class="alert alert-danger">
              <div *ngIf="dishForm.name.errors.required">Name is required</div>
              <div *ngIf="dishForm.name.errors.minlength">Dishname must be at least 3 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="toppings">Toppings</label>
            <input [value]="selectedDish.toppings" class="form-control" formControlName="toppings" id="toppings"
                   type="text">
          </div>

          <div class="form-group">
            <label for="active">Aktiv</label>
            <select class="form-control" formControlName="active" id="active">
              <option value="true">Aktiv</option>
              <option value="false">Inaktiv</option>
            </select>
          </div>

          <div class="form-group">
            <h5>Bild</h5>
            <app-image-upload (imageSelectedEvent)="onImageSelect($event)" formControlName="image"
                              [image]="selectedDish.picture" id="image"></app-image-upload>
          </div>


          <div class="form-group">
            <h5>Größen</h5>

            <ngb-accordion closeOthers="true">
              <ngb-panel *ngFor="let selectedSize of selectedDish.sizes">
                <ng-template ngbPanelTitle>
                  <b>{{selectedSize.size}} : {{selectedSize.price | currency:'EUR': ''}}€</b>
                </ng-template>

                <ng-template ngbPanelContent>
                  <app-new-size (sizeChanged)="sizeChanged(selectedSize, $event)" [size]="selectedSize"></app-new-size>
                  <div style="margin: 5px 5px 20px; float: left;">
                    <button (click)="onCancelSize(selectedSize)" class="btn btn-danger">Größe Löschen</button>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div style="margin: 5px 0px; float: left;">
              <button (click)="addSize()" class="btn btn-dark" type="button">Größe Hinzufügen</button>
            </div>
          </div>

          <br/><br/>
          <div class="form-group">
            <div style="margin: 5px 0px; float: left;">
              <button class="btn btn-success" type="submit">Änderungen abschicken</button>
            </div>
            <div style="margin: 5px 5px 20px; float: left;">
              <button (click)="onCancel()" class="btn btn-danger" type="reset">Bearbeitung Abbrechen</button>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
<br/><br/>
