<div *ngIf="sizesInCartMap.size==0">Der Warenkorb ist leer</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Artikel</th>
    <th scope="col">Größe</th>
    <th scope="col">Anzahl</th>
    <th scope="col">Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sizeMapItem of sizesInCartMap | keyvalue ">
    <td>{{dishForSize(sizeMapItem.key).dish}}</td>
    <td>{{sizeMapItem.key.size}}</td>
    <td>{{sizeMapItem.value}}</td>
    <td>{{sizeMapItem.key.price * sizeMapItem.value | currency:'EUR': ''}} €</td>
  </tr>
  </tbody>
</table>

<div *ngIf="sizesInCartMap.size!=0" class="dropdown-divider"></div>
<li *ngIf="sizesInCartMap.size!=0" ngbDropdownItem>
  Netto: {{getNetto(sum) | currency:'EUR': ''}} €
</li>
<li *ngIf="sizesInCartMap.size!=0" ngbDropdownItem>
  MwSt {{configMwst * 100}}%: {{sum * getConfigMwSt() | currency:'EUR': ''}} €
</li>
<li *ngIf="sizesInCartMap.size!=0" ngbDropdownItem>
  Gesamtsumme: {{sum | currency:'EUR': ''}} €
</li>


